@font-face {
  font-family: 'Autour One';
  font-style: normal;
  font-weight: 400;
  src: local('Autour One'), local('AutourOne-Regular'), url(7LzkKwczNE2R2ZQSt90y1RsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
